body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/fondo.jpg);
}

.container {
    display: flex;
    padding: 20px;
}

.left-side {
    flex: 3;
    padding: 20px;
    text-align: center;
}

.left-side img {
    max-width: 70%;
    border-radius: 50%;
}

.right-side {
    flex: 2;
    padding: 20px;
    background-color: #f0f0f0;
    margin-right: 5em;    
    border-radius: 10px;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
}
.icono-devolucion {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical según tus preferencias */
    left: 10px; /* Ajusta la posición horizontal según tus preferencias */
    font-size: 50px; /* Tamaño del ícono (ajusta según tus preferencias) */
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10%;
}

form {
    max-width: 500px;
    margin: 20px auto;;
    font-size: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
}

#boton-inicio {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
    font-size: large;
    margin: 1em 50% auto 40%;
    text-decoration: none;   
}

#boton-inicio:hover {
    background-color: #0056b3;
}
